.skills__description,
.skills__level,
i{
    color: #8d8d8d;
}

.skills__level {
    font-size: var(--normal-font-size);
}


/* == medias queries == */

/* for large device*/
@media screen and (max-width: 992px) {
    /*new*/
    .card-skill-container {
        padding: 4rem !important;
    }

}
/* for medium devices */
@media screen and (max-width: 768px){
    /*new*/
    .card-skill-container {
        padding: 4rem !important;
    }
}

@media screen and (max-width: 576px){
    /*new*/
    .card-skill-container {
        padding: 2rem !important;
    }
}
/* for small devices */
@media screen and (max-width: 350px){

    /*new*/
    .card {
        padding: 1rem 2rem !important;
    }
    .card-skill-container {
        padding: 1rem !important;
    }
}

/* new stile*/

.card-skill-container {
    padding: 0 15rem 2rem 15rem;
    display: grid;
    grid-template-columns: auto 1fr;
    /*gap: 20px;*/
}

.card-level-info {
    padding: 0 0 !important;
    display: flex !important;
    flex-wrap: wrap !important;
}
.card-level-info i {
    padding: 1.4rem;
    font-size: 2rem;
}

/*.box-level- {}*/

.card {
    border-radius: 10px;
    min-height: 200px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 4rem;
    color: #8d8d8d;
    display: flex;
    flex-wrap: wrap;
}
.card-hobbie {
    border-radius: 10px;
    min-height: 200px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem 4rem;
    color: #8d8d8d;
    display: flex;
    flex-wrap: wrap;
}


.card-hobbie,
.card h2 {
    width: 100%;
    text-align: left;
    font-size: 1.4rem;
    font-weight: var(--font-medium);
    margin-top: 30px;
}

.card-hobbie,
.card h2:first-child {
    margin-top: 0px;
}

.stack {
    display: flex;
    align-items: center;
    border-radius: 24px;
    padding: 0.4rem 0.7rem 0.4rem 0.7rem;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 5px 5px 1px 5px;
    font-size: var(--small-font-size);
    /*font-weight: var(--font-medium);*/
}
/*.stack i  {*/
/*    margin-right: 5px;*/
/*}*/
.custom-section-title {
    margin-bottom: 20px;
}